<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhang.contract.mapper.ProcessMapper">

    <resultMap id="BaseResultMap" type="com.zhang.contract.entity.Processes">
        <result column="con_name" jdbcType="VARCHAR" property="con_name"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="user_name" jdbcType="VARCHAR" property="user_name"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="time" jdbcType="VARCHAR" property="time"/>
    </resultMap>

    <select id="selectForChange" resultType="com.zhang.contract.entity.Processes">
        select *
        from "CONTRACT_PROCESS"
        where CON_NAME = #{con_name}
          and TYPE = #{type}
          and STATE = 0
    </select>

    <select id="selectByUserType" resultType="com.zhang.contract.entity.Processes">
        select *
        from "CONTRACT_PROCESS"
        where USER_NAME = #{user_name}
          and TYPE = #{type}
          and STATE = 0
    </select>

    <select id="selectProcess" resultType="com.zhang.contract.entity.Processes">
        select *
        from "CONTRACT_PROCESS"
        where CON_NAME = #{con_name}
    </select>

    <insert id="insertProcess" parameterType="com.zhang.contract.entity.Processes">
        insert into "CONTRACT_PROCESS"
            (CON_NAME, TYPE, STATE, USER_NAME, CONTENT, TIME)
        VALUES (#{con_name}, #{type}, #{state}, #{user_name}, #{content}, #{time})
    </insert>

    <update id="updateProcess" parameterType="com.zhang.contract.entity.Processes">
        update "CONTRACT_PROCESS"
        set TYPE    = #{type},
            STATE   = #{state},
            CONTENT = #{content},
            TIME    = #{time}
        where CON_NAME = #{con_name}
          and USER_NAME = #{user_name}
    </update>

    <delete id="deleteProcess">
        delete
        from "CONTRACT_PROCESS"
        where CON_NAME = #{con_name}
    </delete>

</mapper>