<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhang.contract.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zhang.contract.entity.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <select id="selectUserByID" resultType="com.zhang.contract.entity.User">
        select *
        from "USER_INFO"
        where ID = #{id}
    </select>

    <select id="selectUserByName" resultType="com.zhang.contract.entity.User">
        select *
        from "USER_INFO"
        where NAME = #{name}
    </select>

    <select id="selectAll" resultType="com.zhang.contract.entity.User">
        select *
        from "USER_INFO"
    </select>

    <insert id="insertUser" parameterType="com.zhang.contract.entity.User">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select nvl(max(id),0)+1 from "USER_INFO"
        </selectKey>
        insert into "USER_INFO"
        (ID, NAME, PASSWORD)
        values (#{id}, #{name}, #{password})
    </insert>

    <update id="updateUser" parameterType="com.zhang.contract.entity.User">
        update
            "USER_INFO"
        set PASSWORD = #{password}
        where NAME = #{name}
    </update>

    <delete id="deleteUser" parameterType="java.lang.String">
        delete
        from "USER_INFO"
        where NAME = #{name}
    </delete>

</mapper>